{% extends "base.html" %}
{% block title %}小知-图书信息{% endblock %}
{% block page_content %}
<div class="page-header">
 <h1>图书信息查询</h1>
</div>
<table class="table table-hover">
    <thead>
        <th class="active">图书编号</th>
        <th class="active">书名</th>
        <th class="active">作者</th>
        <th class="active">数量</th>
        <th class='active'>分类</th>
    </thead>
    <tbody>
        {% for book in booklists %}
        {% if  booklists.index(book)%2 == 0 %}
        <tr class="info">
        {% else %}
        <tr>
        {% endif %}
        <td>{{ book.id }}</td>
        <td>{{ book.book_name }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.number }}</td>
        <td>{{ book.type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}