{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}小知-图书信息{% endblock %}
{% block page_content %}
<div class="page-header">
 <h1>图书信息查询</h1>
</div>
     {{ wtf.quick_form(form) }}
    {% if book%}
        <div class="page-header">
        <h1>图书论文管理</h1>
            <div  style="background-color:#DDDDDD; height:100%;">
            <h4>图书信息</h4>
            <p>书名:{{ book.book_name}}</p>
            <p>作者:{{ book.author }}</p>
            <p>分类:{{ book.type }}</p>
        </div>
    {% else %}
        <table class="table table-hover">
    <thead>
        <th class="active">图书编号</th>
        <th class="active">书名</th>
        <th class="active">作者</th>
        <th class="active">数量</th>
        <th class='active'>分类</th>
    </thead>
    <tbody>
        {% for book in booklists %}
        {% if  booklists.index(book)%2 == 0 %}
        <tr class="info">
        {% else %}
        <tr>
        {% endif %}
        <td>{{ book.id }}</td>
        <td>{{ book.book_name }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.number }}</td>
        <td>{{ book.type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endif %}
{% endblock %}