{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}小知-学位论文{% endblock %}
{% block page_content %}
<div class="page-header">
 <h1>学位论文信息查询</h1>
{{ wtf.quick_form(form) }}
{% if degree%}
        <div  style="background-color:#DDDDDD; height:100%;">
        <h4>论文信息</h4>
        <p>论文题目:{{ degree.degree_title}}</p>
        <p>作者:{{ degree.author }}</p>
        <p>出版社:{{ degree.from_where }}</p>
        <p>内容:{{ degree.content }}</p>
{% else %}
    <table class="table table-hover" style="table-layout:fixed;">
    <thead>
        <th class="active">论文编号</th>
        <th class="active">题目</th>
        <th class="active">作者</th>
        <th class="active">来源</th>
        <th class='active'>摘要</th>
    </thead>
    <tbody>
        {% for degree in degreelists %}
        {% if  degreelists.index(degree)%2 == 0 %}
        <tr class="info">
        {% else %}
        <tr>
        {% endif %}
        <td>{{ degree.id }}</td>
        <td>{{ degree.degree_title }}</td>
        <td>{{ degree.author }}</td>
        <td>{{ degree.from_where }}</td>
        <td
        style="overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;">{{degree.content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
{% endblock %}