{% extends "base.html" %}
{% block title %}小知-学位论文{% endblock %}
{% block page_content %}
<div class="page-header">
 <h1>学位论文信息查询</h1>
</div>
<table class="table table-hover">
    <thead>
        <th class="active">论文编号</th>
        <th class="active">题目</th>
        <th class="active">作者</th>
        <th class="active">来源</th>
        <th class='active'>摘要</th>
    </thead>
    <tbody>
        {% for todo in todolists %}

            <!-- tr -->
            {% if todo.status %} <tr class="success">
            {% else %} <tr class="info"> {% endif %}
                <td>{{ loop.index }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.status }}</td>
                <td>{{ todo.create_time }}</td>
                <td>
                    {% if todo.status %}
                    <a href="{{ url_for('delete_todo_list', id=todo.id) }}" class="btn btn-danger" role ="button">删除</a>
                    {% else %}
                    <a href="{{ url_for('change_todo_list', id=todo.id) }}" class="btn btn-success" role ="button">修改</a>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}