{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}小知-期刊论文{% endblock %}
{% block page_content %}
<div class="page-header">
 <h1>期刊论文信息查询</h1>
</div>
    {{ wtf.quick_form(form) }}
    {% if paper%}
    <div  style="background-color:#DDDDDD; height:100%;">
    <h4>论文信息</h4>
    <p>论文题目:{{ paper.paper_title}}</p>
    <p>作者:{{ paper.author }}</p>
    <p>出版社:{{ paper.from_where }}</p>
    <p>内容:{{ paper.content }}</p>
    {% else %}
    <table class="table table-condensed" style="table-layout:fixed;">
    <thead>
        <th class="active">论文编号</th>
        <th class="active">题目</th>
        <th class="active">作者</th>
        <th class="active">来源</th>
        <th class='active'>摘要</th>
    </thead>
    <tbody>
        {% for paper in paperlists %}
        {% if  paperlists.index(paper)%2 == 0 %}
        <tr class="info">
        {% else %}
        <tr>
        {% endif %}
        <td>{{ paper.id }}</td>
        <td>{{ paper.paper_title }}</td>
        <td>{{ paper.author }}</td>
        <td>{{ paper.from_where }}</td>
        <td
        style="overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;">{{paper.content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    {% endif %}
{% endblock %}